.swiper-pagination-bullet-active {
  background: #c82121 !important;
}

.swiper-pagination-bullet {
  width: 40px;
  background: #c9c8c8;
  height: 4px;
  border-radius: 0;
  opacity: 1;
}

.mySwiper {
  padding-bottom: 30px;
}

.swiper-pagination {
  bottom: 0 !important;
}

@media (max-width: 639px) {
  .mySwiper {
    padding-bottom: 74px;
  }

  .swiper-pagination {
    bottom: 14px !important;
  }

  .swiper-pagination-bullet {
    width: 24px;
    height: 4px;
    opacity: 1;
  }

  .article-container .swiper-pagination {
    bottom: -5px !important;
  }
}
