@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", serif;
}

hr {
  border: 1px solid #979797;
}

h1 {
  font-style: normal;
  line-height: normal !important;
  letter-spacing: -0.96px;
}

h2 {
  font-style: normal;
  line-height: normal !important;
}

h5 {
  font-style: normal;
  line-height: normal !important;
}

nav {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

select {
  -webkit-appearance: none; /* Untuk browser berbasis Webkit (Chrome, Safari) */
  -moz-appearance: none; /* Untuk Firefox */
  appearance: none; /* Browser modern */
}

option {
  background-color: white;
  font-family: "Lato", serif;
  font-style: normal;
  font-size: 16px;
  padding: 12px;
}

option:hover {
  background-color: pink;
}

.swiper-pagination-bullet {
  background: #b99e6b;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #c82121 !important;
}

.swiper-pagination-bullet {
  width: 40px !important;
  background: white;
  height: 4px !important;
  border-radius: 0 !important;
}

.article-content h1 {
  font-size: 2em; /* 32 piksel */
}
.article-content h2 {
  font-size: 1.5em; /* 24 piksel */
}
.article-content h3 {
  font-size: 1.17em; /* 18.72 piksel */
}
.article-content h4 {
  font-size: 1em; /* 16 piksel */
}
.article-content h5 {
  font-size: 0.83em; /* 13.28 piksel */
}
.article-content h6 {
  font-size: 0.67em; /* 10.72 piksel */
}
